.search-view {
    flex: 1; 
    min-height: 0;
}

.movie-search-result-card .card-img-top,
.movie-search-result-card .card-img-top-placeholder {
    height: 450px;
    object-fit: cover; 
}
.movie-search-result-card .card-img-top-placeholder {
    font-size: 3.9rem;
}
.movie-search-result-card .card-title a {
    color: #82baf3;
    font-size: 1.9rem;
    font-weight: bold;
}
.movie-search-result-card .card-title a:hover {
    color: var(--bs-primary);
}
.movie-search-result-card .movie-description-search {
    font-size: 0.85rem;
    line-height: 1.4;
}

.card-search-mota {
    color: #fff !important;
    font-size: 1.6rem;
}
